/* About */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensure items are stacked vertically */

    /* max-width: 800px; 
    width: 100%; 
    margin: 0 auto;  */

    padding: 1em;
    background-color: var(--header-clr);
    margin-bottom: 1em;
}

/* Choose size of the about information here */
.about-info {
    max-width: 100%; 
    box-sizing: border-box;
}

.about-info > * {
    margin-bottom: .2em;
    color: var(--text-clr);
}

.about-info h1, .about-info h2 {
    color: var(--main-clr)
}


.about-info p {
    line-height: 1.5; /* 1.5 times the font size */
}

.about-img {
    max-width: 100%; /* Ensure image scales within its container */
    height: auto; /* Maintain aspect ratio */
}

.about-link a {
    color: var(--text-clr)
}



/* Media query for smaller screens */
@media (min-width: 1000px) {
    .page-container {
        width: 60%;
    }
}  

@media (max-width: 1000px) {
    .header-container {
        margin-bottom: 0em;
    }
    

    .page-container {
        width: 100%;
        margin-bottom: 0em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
} 

@media (min-width: 600px) {
    .book-item {
        width: 25%;
    }

    .audiobook-item {
        width: 25%;
    }
} 

@media (min-width: 800px) {
    .book-item {
        width: 20%;
    }

    .audiobook-item {
        width: 20%;
    }
} 

@media (min-width: 1600px) {
    .book-item {
        width: 16.6666666667%;
    }

    .audiobook-item {
        width: 16.6666666667%;
    }
    
}