/* About */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensure items are stacked vertically */

    /* max-width: 800px; 
    width: 100%; 
    margin: 0 auto;  */

    padding: 1em;
    background-color: var(--header-clr);
    margin-bottom: 1em;
}



/* Choose size of the about information here */
.about-info {
    max-width: 100%; 
    box-sizing: border-box;
}

.about-info > * {
    margin-bottom: .2em;
    color: var(--text-clr);
}

.about-info h1, .about-info h2 {
    color: var(--main-clr)
}


.about-info p {
    line-height: 1.5; /* 1.5 times the font size */
}

.about-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    max-width: 100%; /* Ensure image scales within its container */
    height: auto; /* Maintain aspect ratio */
}

.about-link a {
    color: rgb(206, 95, 206);
}

.about-link a:hover {
    text-decoration: underline;
}


@media (min-width: 600px) {
    .about-img {
        max-width: 50%; /* Ensure image scales within its container */
        height: auto; /* Maintain aspect ratio */
    }
}
