/* Books page */
.books-h1 {
    text-align: center;
    margin-bottom: .3em;
    color: var(--main-clr);
}

.books-h2 {
    margin-bottom: 10px;
}

.books-container {
    background-color: var(--header-clr);
    border: 1px solid var(--border-clr);
    margin-bottom: .5rem;
    padding: 1em;

    display: flex;
    flex-direction: row;

    position: relative;
}

.books-img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-right: 20px;
}

.books-container-info {
    display: flex;
    flex-direction: column;
    
}



/* Book info */
.book-information-container {
    background-color: var(--header-clr);
    margin-bottom: 1em;
    padding: 1em;
}

.book-information-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    background-color: var(--darker-clr);
    padding: .5em;
}

.book-information-top img {
    width: 100px;
    border: 3px solid rgb(214, 214, 214);
}

.book-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.book-information h1{
    text-align: center;
    color: var(--text-clr);
}

.book-information-middle {
    margin-bottom: 1em;
    background-color: var(--main-clr);
}

.book-information-middle button {
    padding: .5em 1em;
    width: 100%;
    border: 1px solid black;
    border-radius: .2em;
    background-color: var(--button-clr);
    color: var(--text-clr);
}

.book-information-bottom h2{
    color: var(--main-clr);
    margin-bottom: .5em;
    
}

.book-information-bottom p{
    color: var(--text-clr);
    line-height: 1.5; /* 1.5 times the font size */
}

.submitReview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin-bottom: 1em;

    background-color: var(--header-clr);
}

.submitReview-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.submitReview-form > * {
    margin-bottom: .2em; /* Adjust the margin as needed */
}

.submitReview-form h2 {
    color: var(--main-clr);
}

.submitReview-form input {
    padding: 8px;
}

textarea {
    width: 100%; /* Adjust as needed */
    min-height: 100px; /* Initial height */
    padding: 8px; /* Adjust padding as needed */
    resize: none; /* Disable textarea resizing by user */
    overflow-y: auto;
}

.submitReview-btns {
    margin: .5em 0 0 0;

}

.submit-btn {
    margin-right: .3em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: var(--button-clr);
    color: var(--text-clr);
}

.submit-btn:hover {
    margin-right: .3em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: var(--button-hover-clr);
    color: var(--text-clr);
}

.cancel-btn {
    margin-right: .3em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: #464646;
    color: var(--text-clr);
}

.cancel-btn:hover {
    margin-right: .5em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: #313131;
    color: var(--text-clr);
}


.reviews-container {
    background-color: var(--header-clr);
    padding: 1em;
    margin-bottom: 1em;
}

.reviews-container h2 {
    margin-bottom: .5em;
    color: var(--main-clr);
}


.review-container > *{
    margin-bottom: .5em;
}

.review-content {
    margin-bottom: 1em;
    line-height: 1.5; /* 1.5 times the font size */
}

.line-space {
    background-color: #8f8f8f;
    padding: 1px;
    margin-bottom: 1em;
}

.review-container > *, .review-container div > * {
    color: var(--text-clr);
} 

.email-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-date p {
    font-size: 14px;
    color: rgb(39, 104, 201);
    font-weight: 600;
}

.reviews-rating-container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.reviews-rating-container p {

border-bottom: 1px solid black;
}

.liked {
    padding: .5em .7em .3em .7em;
    border: 1px solid black;
    background-color: var(--button-clr);
    cursor: pointer;
    border: none;
}

/* .liked:hover {
    transition: .3s;
    background-color: var(--button-hover-clr);
} */

.unliked {
    padding: .5em .7em .3em .7em;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    border: none;
}

/* .unliked:hover {
    transition: .3s;
    background-color: var(--button-clr);
} */

.rate-icon {
    width: 15px;
    height: 15px;
}

/* Doesnt work? */
.total-reviews {
    color: var(--main-clr); 
}

.finished-rating {
    display: flex;
    flex-direction: row;
}

input[type=radio] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.no-rating {
    color: var(--main-clr);
}

.trash-icon {
    
}

.trash-icon:hover {
    transition: .3s;
    color: rgb(214, 42, 42);
    cursor: pointer;
}


@media (min-width: 1000px) {

}  

@media (min-width: 1600px) {

}  

@media (min-width: 2200px) {

}  

