/* Footer */
.footer-container {
    background-color: #1d1d1d;
    padding: 1em;
}

.footer-container h2, p {
    color: var(--text-clr)
}


/* Media query for smaller screens */
@media (min-width: 1000px) {
    .page-container {
        width: 60%;
    }
}  

@media (max-width: 1000px) {
    .header-container {
        margin-bottom: 0em;
    }
    

    .page-container {
        width: 100%;
        margin-bottom: 0em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
} 

@media (min-width: 600px) {
    .book-item {
        width: 25%;
    }

    .audiobook-item {
        width: 25%;
    }
} 

@media (min-width: 800px) {
    .book-item {
        width: 20%;
    }

    .audiobook-item {
        width: 20%;
    }
} 

@media (min-width: 1600px) {
    .book-item {
        width: 16.6666666667%;
    }

    .audiobook-item {
        width: 16.6666666667%;
    }
    
}