/* Footer */

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
