/* Home */

.home-container {
  background-color: var(--header-clr);
  border: 1px solid var(--border-clr);
  margin-bottom: 1em;
  padding: 1em;
}

.recommended-books-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
}

.book-item {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 33.3333333333%;
}

.book-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-item:hover .book-image-container {
  transform: scale(1.05); /* Scale up the image container slightly */
}

.book-image-container {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 150%; /* Adjust the aspect ratio (height / width * 100) */
}

.book-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure images cover the container while maintaining aspect ratio */
}

.book-info-container {
  margin-top: 0.6em;
}

.audiobook-grid {
  display: flex;
  flex-wrap: wrap;
}

.audiobook-item {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 33.3333333333%;
}

.audiobook-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.audiobook-item:hover .audiobook-image-container {
  transform: scale(1.05); /* Scale up the image container slightly */
}

.audiobook-image-container {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 100%; /* Adjust the aspect ratio (height / width * 100) */
}

.audiobook-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure images cover the container while maintaining aspect ratio */
}

.book-info {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.book-info > * {
  color: var(--text-clr);
  font-size: 1em;
}

.book-author {
  text-align: center;
  font-size: 0.9em;
}

.book-price {
  text-align: center;
  background-color: var(--main-clr);
}

.book-price button {
  text-align: center;
  padding: 0.7em 2em;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: var(--button-clr);
  color: var(--text-clr);
}
