* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Arial', sans-serif;  */
    font-family: "Roboto", sans-serif;
}

/* CSS VARIABLES */
:root {
    --main-clr: #d3c082;
    --text-clr: #f0f0f0;
    --button-clr: #862626;
    --button-hover-clr: #6b1d1d;
    --border-clr: #7e7e7e;
    --header-clr: #1f1f1f;
    --darker-clr: #141414;
    --background-clr: #333;
}

body {
    /* background-image: url('./assets/pictures/axes-background.jpg'); */
    background-color: var(--background-clr);
    background-size: cover; /* This will scale the image proportionally to cover the entire container */
    background-position: center; /* This will center the image within the container */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-attachment: fixed;
    color: #f0f0f0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: var(--darker-clr);
}

button {
    color: #333;
    cursor: pointer;
    padding: .5em 1em;
}

input, textarea {
    color: black;
}


/* General css */
.title {
    text-align: center;
    color: var(--main-clr);
    margin-bottom: .2em;

}

.error-message {
    color: rgb(255, 73, 73);
}


/* Header  */
.header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    height: 4em;

    
    background-color: var(--header-clr);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.header-title a {
    text-decoration: none;
    color: #d3c082;
}

.bx-menu {
    position: absolute;
    font-size: 2em;
    right: 0.6em;
    color: var(--text-clr);
}

.header-nav {
    position: absolute;
    z-index: 1000000;
    background-color: var(--header-clr);
    top: 4em;
    width: 100%;
}

.header-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.navLink {
    padding: 1em;
    color: var(--text-clr);
    border-bottom: 1px solid var(--border-clr);
    text-decoration: none;
}

.navLink:hover {
    background-color: var(--darker-clr);
}

.navLink:first-child {
    border-top: 1px solid var(--border-clr);
}




/* Register / login */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (4em + 6em + 2em));
    margin-bottom: 2em;
    margin-top: 1.5em;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (4em + 6em + 2em));
}

.register-wrapper {
    min-width: 20em;
    background-color: var(--header-clr);
    border: 2px solid var(--border-clr);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: var(--text-clr);
    border-radius: 10px;
    padding: 20px; 
}

.register-wrapper h1{
    font-size: 36px;
    text-align: center;
    color: var(--text-clr);
}

.register-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--text-clr);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: var(--text-clr);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--text-clr);
}

.register-select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: var(--text-clr);
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    margin-bottom: 30px;
}

.register-select option {
    color: black;
}

.register-wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot input {
    accent-color: #fff;
    background-color: red;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.register-btn {
    width: 100%;
    height: 45px;
    background: var(--button-clr);
    color: var(--text-clr);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.register-btn:hover {
    background: var(--button-hover-clr);
}

.register-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p {
    color: var(--text-clr);
}

.register-link p a {
    color: var(--text-clr);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}



.error-box {
    position: relative;
}

.error-box p {
    position: absolute;
    color: rgb(255, 72, 72);
    text-align: center;
    right: 0;
    left: 0;
    top: 8px;
}

.google-box {
    position: relative;
    text-align: center;
}

.google-box button{
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    background-color: var(--button-clr);
    color: var(--text-clr);
    border: none;
}

.google-box button:hover{

    background-color: var(--button-hover-clr);

}

.password-error {
    color: rgb(255, 72, 72);
}



/* Home */

.home-header {
margin-bottom: .7em;
}

.home-header img{
    width: 100%;

}

.page-container {
    background-color: var(--background-clr); 
    padding: 1em;
}

@media (min-width: 1600px) {
    .page-container {
        width: 60%;
    }
}  

@media (max-width: 1000px) {
    .page-container {
        width: 100%;
    }
} 

.books-container {
    background-color: var(--header-clr);
    border: 1px solid var(--border-clr);
    margin-bottom: 1em;
    padding: 1em;
}

.books-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    /* background-color: blue; */
}

.book-item {
    flex: 1 0 auto; /* Let items grow and shrink equally */
    margin: 5px;
    width: 150px;
    max-width: 150px;
    
    
}

.book-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Set the desired width for the container */
    height: 220px; /* Set the desired height for the container */
    overflow: hidden; /* Hide any content that overflows the container */
}

@media (max-width: 400px) {
    .book-item {
        max-width: calc(33.33% - 10px);
    }

    .book-image-container {
        height: 150px;
    }
} 

.book-image {
    height: 100%;
    width: 100%;
    display: block;
}

.book-info {
    text-align: center; /* Optionally center align the book info */
    height: 5em;

}

.book-info > *{
  color: var(--main-clr);

}

.book-price {
    text-align: center;
    background-color: var(--main-clr);

}

.book-price button {
    text-align: center;
    padding: .7em 2em;
    width: 100%;
    border: 1px solid black;
    border-radius: .5em;
    background-color: var(--button-clr);
    color: var(--text-clr);
}


/* Book info */
.book-information-container {
    background-color: var(--header-clr);
    margin-bottom: 1em;
    padding: 1em;
}

.book-information-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    background-color: var(--darker-clr);
    padding: .5em;
}

.book-information-top img {
    width: 100px;
    border: 3px solid rgb(214, 214, 214);
}

.book-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.book-information h1{
    text-align: center;
    color: var(--text-clr);
}

.book-information-middle {
    margin-bottom: 1em;
    background-color: var(--main-clr);
}

.book-information-middle button {
    padding: .5em 1em;
    width: 100%;
    border: 1px solid black;
    border-radius: .2em;
    background-color: var(--button-clr);
    color: var(--text-clr);
}

.book-information-bottom h2{
    color: var(--main-clr);
    margin-bottom: .5em;
    
}

.book-information-bottom p{
    color: var(--text-clr);
    line-height: 1.5; /* 1.5 times the font size */
}

.submitReview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin-bottom: 1em;

    background-color: var(--header-clr);
}

.submitReview-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.submitReview-form > * {
    margin-bottom: .2em; /* Adjust the margin as needed */
}

.submitReview-form h2 {
    color: var(--main-clr);
}

.submitReview-form input {
    padding: 8px;
}

textarea {
    width: 100%; /* Adjust as needed */
    min-height: 100px; /* Initial height */
    padding: 8px; /* Adjust padding as needed */
    resize: none; /* Disable textarea resizing by user */
    overflow-y: auto;
}

.submitReview-btns {
    margin: .5em 0 0 0;

}

.submit-btn {
    margin-right: .3em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: var(--button-clr);
    color: var(--text-clr);
}

.submit-btn:hover {
    margin-right: .3em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: var(--button-hover-clr);
    color: var(--text-clr);
}

.cancel-btn {
    margin-right: .3em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: #464646;
    color: var(--text-clr);
}

.cancel-btn:hover {
    margin-right: .5em;
    padding: .8em 1em ;
    border: none;
    border-radius: .2em;
    background-color: #313131;
    color: var(--text-clr);
}


.reviews-container {
    background-color: var(--header-clr);
    padding: 1em;
}

.reviews-container h2 {
    margin-bottom: .5em;
    color: var(--main-clr);
}


.review-container > *{
    margin-bottom: .5em;
}

.review-content {
    margin-bottom: 1em;
    line-height: 1.5; /* 1.5 times the font size */
}



.line-space {
    background-color: #8f8f8f;
    padding: 1px;
    margin-bottom: 1em;
}

.review-container > *, .review-container div > * {
    color: var(--text-clr);
} 

.email-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-date p {
    font-size: 14px;
    color: rgb(39, 104, 201);
    font-weight: 600;
}

.reviews-rating-container {
    display: flex;
    align-items:center;
    justify-content: end;
    
}

.reviews-rating-container p {

border-bottom: 1px solid black;
}

.liked {
    padding: .5em .7em .3em .7em;
    border: 1px solid black;
    background-color: var(--button-clr);
    cursor: pointer;
    border: none;
    margin-left: 1em;
}

.liked:hover {
    transition: .3s;
    background-color: var(--button-hover-clr);
}

.unliked {
    padding: .5em .7em .3em .7em;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    border: none;
    margin-left: 1em;
}

.unliked:hover {
    transition: .3s;
    background-color: rgb(196, 196, 196);
}

.rate-icon {
    width: 18px;
    height: 18px;
}

/* Doesnt work? */
.total-reviews {
    color: var(--main-clr); 
}

.finished-rating {
    display: flex;
    flex-direction: row;
}

input[type=radio] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

/* Footer */
.footer-container {
    background-color: #1d1d1d;
    padding: 1em;
}

.footer-container h2, p {
    color: var(--text-clr)
}


/* Media query for smaller screens */
/* @media (max-width: 1200px) {
    .register-wrapper {
        padding: 20px; 
    }
} */